@import 'myBulma';
@import "~@mdi/font/css/materialdesignicons.min.css";

button {
  outline:none !important;
}

nav {
  font-size: 1.5rem;
}

.navbar-item, .navbar-link {
  line-height: 1;
}

.navbar-brand {
  padding-left:0.6rem;
}

.navbar-end {
  padding-right:1rem;
}

.nav-trick {
  background-color:inherit;
  border-bottom: 0.1px solid #1c8182;
}

.nav-brand {
  display:flex;
  align-items:baseline;
}

.nav-brand-name {
  font-family: 'Passion One', cursive;
  text-transform: uppercase;
  font-size:1.5em;
  background: linear-gradient(to bottom, #00d1b2, #3bd4d6, #77d5e9, #a9d5ed, #ccd7e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-brand-author {
  color: hsl(0, 0%, 80%);
  vertical-align:text-top;
  font-size: 0.5em;
  margin-left:0.2em;
}

.mdi-twitter, .mdi-github {
  color:hsl(0, 0%, 84%);
}

.footer {
  text-align:center;
	color:hsl(0,0%,84%);
  background-image: linear-gradient(to right bottom, #222939, #3a4859, #536a7a, #708e9b, #8fb3bc);
}

.trick {
  margin-bottom: 0.2rem;
}

.trick-button-container {
  background: linear-gradient(rgb(26, 31, 43) 0%, rgb(8, 11, 18) 100%);
}

.trick-button {
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  color: hsl(0, 0%, 96%);
  background: linear-gradient(rgb(40, 47, 63) 0%, rgb(8, 11, 18) 100%);
  border-radius: 0px;
  border: none;
  border-top: 1px solid rgb(18, 25, 39);
  font-family: "Rajdhani", sans-serif;
  font-size:1em;
  display:flex;
  width: 100%;
}

.trick-button:focus,
.trick-button:hover {
  border:none;
	color: #77d5e9;
}

.trick-content {
  background-image: radial-gradient(47.66% 38.4% at 52.19% 28.51%, rgb(18, 25, 40) 0%, rgb(8, 11, 18) 100%);
  padding-bottom: 0.8rem;
}
